--- .pristine/libopenapml-2.9.0-src/spx/P.CONFIG	Fri Sep 29 15:49:59 2017
+++ /dev/null	Thu Jan  1 08:00:00 1970
@@ -1,13 +0,0 @@
-if libipmiapml
-menu "APML Configuration"
- 
-config FEATURE_APML_ONLY_TSI_SUPPORT
-		bool "APML ONLY SB-TSI Support"    
-		default 0			
-		help
-		 APML (Advanced Platform Management Link) is an out-of-band power management and RAS (Reliability, Availability and Serviceability) AMD processor feature. 
-endmenu 
- endif 
-
-
-
