--- .pristine/cpld_hw-2.14.0-ARM-AST-src/spx/P.CONFIG	Thu Aug 31 16:54:12 2017
+++ source/cpld_hw-2.14.0-ARM-AST-src/spx/P.CONFIG	Fri Sep  1 14:56:06 2017
@@ -28,5 +28,15 @@
 			Support ALTERA EPM570
 endchoice
 
+if FEATURE_ALTERA_SUPPORT
+menu "Altera Configuration"
+config FEATURE_DO_REAL_TIME_ISP
+	bool "Enable real-time ISP"
+		default y
+	help
+		Use real-time ISP when avaliable.
 endmenu
 endif
+
+endmenu
+endif
